{% load static %} {% static "" as baseUrl %}

 <div class="container evento">
        <!-- Three columns of text below the carousel -->
        <div class="row  ">
          <div class="col-sm-12">
            <br><br>
           
            <div class="card mb-3 " >
              <div class="row g-0">
                <div class="col-md-8">
                  <img src="assets/banner/jovenes.png" class="img-fluid rounded-start torneo" alt="...">
                </div>
                <div class="col-md-4">
                  <div class="card-body">
                    <h4 class="card-title ">PROXIMO TORNEO</h4>
                    <h5 class="card-title"> LOMAS TRES 1<img src="assets/logos/lockOpen.png" style="padding: 10px;"> </h5>
                    <h6> <img src="assets/logos/point.png" style="padding: 5px;"> Valenzuela llanos 365, La reina , Santiago</h6>
                    <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of.</p>
                    <small class="text-body-secondary"> <img src="assets/logos/calendario.png" style="padding: 10px;">30/12/2012
                    <img src="assets/logos/user.png" style="padding-left:30px; "> 99/100
                    </small>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
       </div><!-- /.container -->