{% load static %} {% static "" as baseUrl %}

<div class="container marketing" id="links">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-12 context">
      <h1>MIEMBROS</h1>
    </div>
    <!-- <h1>{{listado}}</h1>   -->
    {% for value in listado_m %}
      {% if value.tipo__tipo == 'Directorio' %}
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img src="media/{{ value.img}}" alt="">
          <h2 class="fw-normal">{{ value.titulo }}</h2>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img src="media/{{ listado_p.0.img}}" alt="">
      <h2 class="fw-normal">PRESIDENTE</h2>
      <h2 class="fw-normal">xxxxxxx</h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <img src="media/{{ listado_p.0.img}}" alt="">
      <h2 class="fw-normal">CAPITÁN</h2>
      <h2 class="fw-normal">xxxxxxx</h2>
    </div>
  </div>
 
</div><!-- /.container -->